@CHARSET "UTF-8";
h1 {
	background-color: #eee;
	text-align: center;
	border: 1px solid silver;
	border-radius: 10px;
}

pre {
	background-color: #eee;
	border: 1px dashed silver;
	padding: 0.2em;
	display: inline;
}